/* CSS to style the navigation bar */
body {
    margin: 0vw 20vw 0vw 20vw;
    box-sizing:border-box;
}

#menu {
    margin: 0px;
    padding: 0px;
    padding: 0.5vw 1vw 0.5vw 1vw;
    background-color: #00ffe5;
}

#menu a {
    font-weight: bold;
    color: black;
}

#menu a:visited {
    font-weight: bold;
    color: #3f0032;
}

#menu a:hover {
    font-weight: bold;
    color: darkgoldenrod;
}

@media screen and (max-width: 800px) {
    body {
        margin: 0vw 5vw 0vw 5vw;
        box-sizing:border-box;
    }
  }