/* CSS to style the navigation bar */
body {
    margin: 0% 20% 0% 20%;
    box-sizing:border-box;
}

#menu {
    margin: 0px;
    padding: 0px;
    padding: 5px 10px 5px 10px;
    background-color: #00ffe5;
}

#menu a {
    font-weight: bold;
    color: black;
}

#menu a:visited {
    font-weight: bold;
    color: #3f0032;
}

#menu a:hover {
    font-weight: bold;
    color: darkgoldenrod;
}